.dialogs {
  display: grid;
  grid-template-columns: 1fr 7fr;
}
.messages > div {
  padding: 5px;
  font-size: 18px;
  margin: 0 0 0 50px;
}
.textarea {
  width: 400px;
  height: 80px;
  font-size: 18px;
}